#mealplan-table {
	display: none;
}

.meal-edit {
	margin-right: 5px;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
}

.meal-edit:focus {
	color: #000000;
	background-color: #ffffff;
	border: 0;
}

.main-header {
	text-align: center;
}

.signin-header {
	text-align: center;
}

.logo {
	width: 110px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.row-odd {
	background-color: #dddddd;
}

.row-even {
	background-color: #f0f0f0;
}

.row:hover {
	color: #ffffff;
	background: #286090;
}

.box.takeout {
	color: #888888;
	font-style: italic;
}

button.btn-danger.small-btn {
	font-size: 10px;
	padding: 0px 3px;
	margin: 1px;
}

.btn.btn-primary {
	margin-top: 10px;
	margin-bottom: 10px;
}

.checkbox {
	margin: 0;
}

.row .box {
	padding: 5px 5px;
}

.add-meal {
	margin-top: 20px;
}